:root {
    --primaryColor: #6B51D9;
    --secondaryColor: #6B51D9;
    --darkColor: #252C32;
    --midDarkColor: #0F141A;
    --grayColor: #0F141A;
    --midGrayColor: #D2DADD;
    --lightColor: #D2DADD;
    --dangerColor: #E03737;
    --warningColor: #ff8f30;
    --successColor: #1E9538;
    --logoImageUrl: url('https://steamstorage.hb.ru-msk.vkcs.cloud/icons/BlackIcon128.png');

    --bgSecondary: #7C83877F;
    --fcNegative: #D2DADD;

    --bgImageLigthen: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4));
}

.tag {
    border: none;
}


/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v141/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}