global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: steamstorage-api
    static_configs:
      - targets: ["steamstorage.api:80"]
    metrics_path: /api/metrics
    scheme: http
    authorization:
      type: Bearer
      credentials: <your-internal-api-key>
