@{
    Layout = "_Layout";
    ViewData["Title"] = "Авторизация";
}

@section PageStyles {
    <link rel="stylesheet" type="text/css" href="~/admin/css/authorize-style.css"/>
}

<div class="authorize-container flex-container">
    <div class="authorize-content flex-container">
        <p>Для доступа к панели администратора пройдите авторизацию</p>
        <input type="button" value="Авторизация через Steam"
               onclick="location.href='@Url.Action("LogIn", "Authorize")'"/>
    </div>
</div>
