@{
    Layout = "_Layout";
    ViewData["Title"] = "Authorization";
}

@section PageStyles {
    <link rel="stylesheet" type="text/css" href="~/admin/css/authorize-style.css"/>
}

<div class="authorize-container flex-container">
    <div class="authorize-content flex-container">
        <p>Please sign in to access the admin panel</p>
        <input type="button" value="Sign in via Steam"
               onclick="location.href='@Url.Action("LogIn", "Authorize")'"/>
    </div>
</div>
