USE [SteamStorage]
GO

/****** Table [dbo].[ActiveGroups] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveGroups]
(
    [ID]           [int] IDENTITY (1,1) NOT NULL,
    [UserID]       [int]                NOT NULL,
    [Title]        [nvarchar](100)      NOT NULL,
    [Description]  [nvarchar](300)      NULL,
    [Colour]       [nvarchar](8)        NULL,
    [GoalSum]      [decimal](14, 2)     NULL,
    [DateCreation] [datetime]           NOT NULL,
    CONSTRAINT [PK_ActiveGroups] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[ActiveGroupsDynamic] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveGroupsDynamic]
(
    [ID]         [int] IDENTITY (1,1) NOT NULL,
    [GroupID]    [int]                NOT NULL,
    [DateUpdate] [datetime]           NOT NULL,
    [Sum]        [decimal](14, 2)     NOT NULL,
    CONSTRAINT [PK_ActiveGroupsDynamic] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Actives] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actives]
(
    [ID]          [int] IDENTITY (1,1) NOT NULL,
    [GroupID]     [int]                NOT NULL,
    [SkinID]      [int]                NOT NULL,
    [Description] [nvarchar](300)      NULL,
    [BuyDate]     [datetime]           NOT NULL,
    [Count]       [int]                NOT NULL,
    [BuyPrice]    [decimal](14, 2)     NOT NULL,
    [GoalPrice]   [decimal](14, 2)     NULL,
    CONSTRAINT [PK_Actives] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Archive] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive]
(
    [ID]          [int] IDENTITY (1,1) NOT NULL,
    [GroupID]     [int]                NOT NULL,
    [SkinID]      [int]                NOT NULL,
    [Description] [nvarchar](300)      NULL,
    [Count]       [int]                NOT NULL,
    [BuyDate]     [datetime]           NOT NULL,
    [BuyPrice]    [decimal](14, 2)     NOT NULL,
    [SoldDate]    [datetime]           NOT NULL,
    [SoldPrice]   [decimal](14, 2)     NOT NULL,
    CONSTRAINT [PK_Archive] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[ArchiveGroups] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchiveGroups]
(
    [ID]           [int] IDENTITY (1,1) NOT NULL,
    [UserID]       [int]                NOT NULL,
    [Title]        [nvarchar](100)      NOT NULL,
    [Description]  [nvarchar](300)      NULL,
    [Colour]       [nvarchar](8)        NULL,
    [DateCreation] [datetime]           NOT NULL,
    CONSTRAINT [PK_ArchiveGroups] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Currencies] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies]
(
    [ID]              [int] IDENTITY (1,1) NOT NULL,
    [SteamCurrencyID] [int]                NOT NULL,
    [Title]           [nvarchar](100)      NOT NULL,
    [Mark]            [nvarchar](10)       NOT NULL,
    [CultureInfo]     [nvarchar](10)       NOT NULL,
    [IsBase]          [bit]                NOT NULL,
    CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    CONSTRAINT [UQ_Currencies_SteamCurrencyID] UNIQUE NONCLUSTERED
        (
         [SteamCurrencyID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[CurrencyDynamics] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyDynamics]
(
    [ID]         [int] IDENTITY (1,1) NOT NULL,
    [CurrencyID] [int]                NOT NULL,
    [DateUpdate] [datetime]           NOT NULL,
    [Price]      [decimal](14, 4)     NOT NULL,
    CONSTRAINT [PK_CurrencyDynamics] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Games] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games]
(
    [ID]          [int] IDENTITY (1,1) NOT NULL,
    [SteamGameID] [int]                NOT NULL,
    [Title]       [nvarchar](300)      NOT NULL,
    [GameIconUrl] [nvarchar](max)      NOT NULL,
    [IsBase]      [bit]                NOT NULL,
    CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    CONSTRAINT [UQ_Games_SteamGameID] UNIQUE NONCLUSTERED
        (
         [SteamGameID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Table [dbo].[Inventory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory]
(
    [ID]     [int] IDENTITY (1,1) NOT NULL,
    [UserID] [int]                NOT NULL,
    [SkinID] [int]                NOT NULL,
    [Count]  [int]                NOT NULL,
    CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[MarkedSkins] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarkedSkins]
(
    [ID]     [int] IDENTITY (1,1) NOT NULL,
    [UserID] [int]                NOT NULL,
    [SkinID] [int]                NOT NULL,
    CONSTRAINT [PK_MarkedSkins] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Pages] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages]
(
    [ID]    [int] IDENTITY (1,1) NOT NULL,
    [Title] [nvarchar](100)      NOT NULL,
    CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    CONSTRAINT [UQ_Pages_Title] UNIQUE NONCLUSTERED
        (
         [Title] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Roles] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles]
(
    [ID]    [int] IDENTITY (1,1) NOT NULL,
    [Title] [nvarchar](100)      NOT NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    CONSTRAINT [UQ_Roles_Title] UNIQUE NONCLUSTERED
        (
         [Title] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Skins] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skins]
(
    [ID]             [int] IDENTITY (1,1) NOT NULL,
    [GameID]         [int]                NOT NULL,
    [MarketHashName] [nvarchar](300)      NOT NULL,
    [Title]          [nvarchar](300)      NOT NULL,
    [SkinIconUrl]    [nvarchar](max)      NOT NULL,
    [CurrentPrice]   [decimal](14, 2)     NOT NULL,
    CONSTRAINT [PK_Skins] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    CONSTRAINT [UQ_Skins_MarketHashName] UNIQUE NONCLUSTERED
        (
         [MarketHashName] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Table [dbo].[SkinsDynamic] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinsDynamic]
(
    [ID]         [int] IDENTITY (1,1) NOT NULL,
    [SkinID]     [int]                NOT NULL,
    [DateUpdate] [datetime]           NOT NULL,
    [Price]      [decimal](14, 2)     NOT NULL,
    CONSTRAINT [PK_SkinsDynamic] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Table [dbo].[Users] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users]
(
    [ID]               [int] IDENTITY (1,1) NOT NULL,
    [SteamID]          [bigint]             NOT NULL,
    [RoleID]           [int]                NOT NULL,
    [StartPageID]      [int]                NOT NULL,
    [CurrencyID]       [int]                NOT NULL,
    [DateRegistration] [datetime]           NOT NULL,
    [GoalSum]          [decimal](14, 2)     NULL,
    [Username]         [nchar](32)          NULL,
    [IconUrl]          [nvarchar](max)      NULL,
    [IconUrlMedium]    [nvarchar](max)      NULL,
    [IconUrlFull]      [nvarchar](max)      NULL,
    [DateUpdate]       [datetime]           NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    CONSTRAINT [UQ_Users_SteamID] UNIQUE NONCLUSTERED
        (
         [SteamID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Currencies]
    ADD DEFAULT ((0)) FOR [IsBase]
GO
ALTER TABLE [dbo].[Games]
    ADD DEFAULT ((0)) FOR [IsBase]
GO
ALTER TABLE [dbo].[Skins]
    ADD CONSTRAINT [DF_Skins_CurrentPrice] DEFAULT ((0)) FOR [CurrentPrice]
GO
ALTER TABLE [dbo].[ActiveGroups]
    WITH CHECK ADD CONSTRAINT [FK_ActiveGroups_Users] FOREIGN KEY ([UserID])
        REFERENCES [dbo].[Users] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActiveGroups]
    CHECK CONSTRAINT [FK_ActiveGroups_Users]
GO
ALTER TABLE [dbo].[ActiveGroupsDynamic]
    WITH CHECK ADD CONSTRAINT [FK_ActiveGroupsDynamic_ActiveGroups] FOREIGN KEY ([GroupID])
        REFERENCES [dbo].[ActiveGroups] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActiveGroupsDynamic]
    CHECK CONSTRAINT [FK_ActiveGroupsDynamic_ActiveGroups]
GO
ALTER TABLE [dbo].[Actives]
    WITH CHECK ADD CONSTRAINT [FK_Actives_ActiveGroups] FOREIGN KEY ([GroupID])
        REFERENCES [dbo].[ActiveGroups] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Actives]
    CHECK CONSTRAINT [FK_Actives_ActiveGroups]
GO
ALTER TABLE [dbo].[Actives]
    WITH CHECK ADD CONSTRAINT [FK_Actives_Skins] FOREIGN KEY ([SkinID])
        REFERENCES [dbo].[Skins] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Actives]
    CHECK CONSTRAINT [FK_Actives_Skins]
GO
ALTER TABLE [dbo].[Archive]
    WITH CHECK ADD CONSTRAINT [FK_Archive_ArchiveGroups] FOREIGN KEY ([GroupID])
        REFERENCES [dbo].[ArchiveGroups] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Archive]
    CHECK CONSTRAINT [FK_Archive_ArchiveGroups]
GO
ALTER TABLE [dbo].[Archive]
    WITH CHECK ADD CONSTRAINT [FK_Archive_Skins] FOREIGN KEY ([SkinID])
        REFERENCES [dbo].[Skins] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Archive]
    CHECK CONSTRAINT [FK_Archive_Skins]
GO
ALTER TABLE [dbo].[ArchiveGroups]
    WITH CHECK ADD CONSTRAINT [FK_ArchiveGroups_Users] FOREIGN KEY ([UserID])
        REFERENCES [dbo].[Users] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArchiveGroups]
    CHECK CONSTRAINT [FK_ArchiveGroups_Users]
GO
ALTER TABLE [dbo].[CurrencyDynamics]
    WITH CHECK ADD CONSTRAINT [FK_CurrencyDynamics_Currencies] FOREIGN KEY ([CurrencyID])
        REFERENCES [dbo].[Currencies] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CurrencyDynamics]
    CHECK CONSTRAINT [FK_CurrencyDynamics_Currencies]
GO
ALTER TABLE [dbo].[Inventory]
    WITH CHECK ADD CONSTRAINT [FK_Inventory_Skins] FOREIGN KEY ([SkinID])
        REFERENCES [dbo].[Skins] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory]
    CHECK CONSTRAINT [FK_Inventory_Skins]
GO
ALTER TABLE [dbo].[Inventory]
    WITH CHECK ADD CONSTRAINT [FK_Inventory_Users] FOREIGN KEY ([UserID])
        REFERENCES [dbo].[Users] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory]
    CHECK CONSTRAINT [FK_Inventory_Users]
GO
ALTER TABLE [dbo].[MarkedSkins]
    WITH CHECK ADD CONSTRAINT [FK_MarkedSkins_Skins] FOREIGN KEY ([SkinID])
        REFERENCES [dbo].[Skins] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MarkedSkins]
    CHECK CONSTRAINT [FK_MarkedSkins_Skins]
GO
ALTER TABLE [dbo].[MarkedSkins]
    WITH CHECK ADD CONSTRAINT [FK_MarkedSkins_Users] FOREIGN KEY ([UserID])
        REFERENCES [dbo].[Users] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MarkedSkins]
    CHECK CONSTRAINT [FK_MarkedSkins_Users]
GO
ALTER TABLE [dbo].[Skins]
    WITH CHECK ADD CONSTRAINT [FK_Skins_Games] FOREIGN KEY ([GameID])
        REFERENCES [dbo].[Games] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skins]
    CHECK CONSTRAINT [FK_Skins_Games]
GO
ALTER TABLE [dbo].[SkinsDynamic]
    WITH CHECK ADD CONSTRAINT [FK_SkinsDynamic_Skins] FOREIGN KEY ([SkinID])
        REFERENCES [dbo].[Skins] ([ID])
        ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SkinsDynamic]
    CHECK CONSTRAINT [FK_SkinsDynamic_Skins]
GO
ALTER TABLE [dbo].[Users]
    WITH CHECK ADD CONSTRAINT [FK_Users_Currencies] FOREIGN KEY ([CurrencyID])
        REFERENCES [dbo].[Currencies] ([ID])
GO
ALTER TABLE [dbo].[Users]
    CHECK CONSTRAINT [FK_Users_Currencies]
GO
ALTER TABLE [dbo].[Users]
    WITH CHECK ADD CONSTRAINT [FK_Users_Roles] FOREIGN KEY ([RoleID])
        REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users]
    CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]
    WITH CHECK ADD CONSTRAINT [FK_Users_Pages] FOREIGN KEY ([StartPageID])
        REFERENCES [dbo].[Pages] ([ID])
GO
ALTER TABLE [dbo].[Users]
    CHECK CONSTRAINT [FK_Users_Pages]
GO
