<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Steam Storage</title>
    <link rel="stylesheet" type="text/css" href="~/css/main-style.css" runat="server"/>
    <link rel="stylesheet" type="text/css" href="~/css/layout-style.css" runat="server"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon32.ico" runat="server"/>
</head>

<body>

<div class="wrapper">
    <div class="layout-page-content">
        <div class="header flex-container">
            <div class="left-header flex-container">
                <svg viewBox="0 0 192 144" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M139.24 0.00452184C138.157 0.100928 137.151 0.576561 136.42 1.33788C135.689 2.0992 135.286 3.09112 135.291 4.11855V135.767H120.04V28.8027C120.04 27.7116 119.581 26.6653 118.764 25.8938C117.946 25.1223 116.838 24.6888 115.682 24.6887H76.4654C76.3293 24.6827 76.193 24.6827 76.0569 24.6887C74.9734 24.7851 73.9674 25.2607 73.2366 26.022C72.5059 26.7834 72.1032 27.7753 72.1079 28.8027V135.767H56.8568V57.6009C56.8567 56.5098 56.3976 55.4635  55.5804 54.692C54.7633 53.9205 53.655 53.487 52.4994 53.4869H13.2823C13.1462 53.4808 13.0099 53.4808 12.8738 53.4869C11.7903 53.5833 10.7843 54.0589 10.0535 54.8202C9.32276 55.5815 8.92013 56.5735 8.92482 57.6009V135.767H4.56737C4.43127 135.761 4.29495 135.761 4.15886 135.767C3.58655 135.793 3.02511 135.924 2.5066 136.154C1.98809 136.384 1.52267 136.709 1.13692 137.108C0.751165 137.508 0.452638 137.976 0.258385 138.485C0.064132 138.994 -0.0220419 139.534 0.00478481 140.074C0.0316115 140.615 0.170913 141.145 0.414734 141.634C0.658555 142.124 1.00212 142.563 1.42581 142.927C1.84949 143.291 2.345 143.573 2.88404 143.756C3.42307 143.94 3.99507 144.021 4.56737 143.995H187.58C188.158 144.003 188.731 143.902 189.267 143.699C189.803 143.496 190.291 143.194 190.702 142.811C191.113 142.428 191.439 141.972 191.662 141.469C191.885 140.966 192 140.427 192 139.881C192 139.336 191.885 138.796 191.662 138.293C191.439 137.79 191.113 137.334 190.702 136.952C190.291 136.569 189.803 136.267 189.267 136.064C188.731 135.86 188.158 135.76 187.58 135.767H183.223V4.11855C183.223 3.02747 182.764 1.98112 181.947 1.20961C181.129 0.438107 180.021 0.00463093 178.866 0.00452184H139.648C139.512 -0.00150728 139.376 -0.00150728 139.24 0.00452184ZM144.006 8.23257H174.508V135.767H144.006V8.23257ZM80.8228 32.9167H111.325V135.767H80.8228V32.9167ZM17.6397 61.7149H48.1419V135.767H17.6397V61.7149Z"/>
                </svg>
                <a class="light-text middle-text" href="#">
                    Steam Storage
                </a>
            </div>
            <div class="center-header"></div>
            <div class="right-header"></div>
        </div>

        <div class="main-content">
            @RenderBody()
        </div>

        <div class="footer flex-container">
            <div class="left-footer"></div>
            <div class="center-footer"></div>
            <div class="right-footer flex-container">
                <p class="light-text small-text right-text">
                    © Steam Storage 2024
                </p>
            </div>
        </div>
    </div>
</div>

</body>

</html>