@{
    Layout = "_Layout";
    ViewData["Title"] = "Access Denied";
}

@section PageStyles {
    <link rel="stylesheet" type="text/css" href="~/admin/css/access-denied-style.css"/>
}

<div class="access-denied-container flex-container">
    <div class="access-denied-content">
        <div class="access-denied-icon">⛔</div>
        <p>You do not have permission to view this page</p>
    </div>
</div>
