@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Steam Storage</title>
    <link rel="stylesheet" type="text/css" href="css/main-style.css" runat="server" />
    <link rel="stylesheet" type="text/css" href="css/access-denied-style.css" runat="server" />
</head>

<body>

<div class="wrapper">
    <div class="access-denied-container flex-container">
        <div class="access-denied-content">
            <p>У вас недостаточно прав для просмотра этой страницы</p>  
        </div>
    </div>
</div>

</body>

</html>