@{
Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="ru">

<head runat="server">
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Steam Storage</title>
    <link rel="stylesheet" type="text/css" href="~/admin/css/main-style.css" runat="server" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/admin-panel-style.css" runat="server" />
</head>

<body>

<div class="wrapper">
    <p>Ого, я админ</p>
</div>

</body>

</html>